body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.vid_style {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.glass-box {
  /* From https://css.glass */
background: rgba(135, 155, 226, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(135, 155, 226, 0.3);
}

.pressed {
  padding: 15px 25px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  border: none;
  box-shadow: 0 8px #1a232f;
}

.pressed_text:hover { color: whitesmoke}

.pressed:active {
  box-shadow: 0 5px #1a232f;
  transform: translateY(4px);
}